.contentWrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.contentWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.circleImg {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: gray;
}

.drinkItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
}
.drinkItem a {
  color: #2c2c2c;
  text-decoration: none;
}
.favoriteIcon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
}

.infoArea {
  width: 12rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
}

.infoArea p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-size: 1.2rem;
}
.infoArea span {
  font-weight: 300;
}

.name {
  margin-bottom: 0.5rem;
}
