.detailImg {
  width: 212px;
  height: 212px;
  border-radius: 50%;
  background-color: gray;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox {
  text-align: center;
}
