.contentWrapper {
  min-height: calc(840px - 130px - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circleImg {
  width: 76px;
  height: 76px;
  background-color: gray;
  margin-right: 2rem;
  border-radius: 50%;
}
.drinkItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
  justify-content: space-evenly;
}

.drinkItem span {
  font-size: 1.2rem;
  font-weight: 400;
}

.favoriteIcon {
  height: 35px;
  width: 35px;
  margin-right: 2rem;
}
