.searchWrapper {
  position: relative;
}

.formInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid gray;
  font-size: 1rem;
}

.formInput label {
  font-size: 1.2rem;
  font-weight: 500;
}
.formInput input {
  width: 16rem;
  height: 1.5rem;
  margin-left: 0.8rem;
  text-align: left;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.searchButton {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
}

.searchResult {
  position: absolute;
  background-color: rgb(197, 186, 170);
  left: 4%;
  border-radius: 0.3rem;
  width: 96%;
}

.searchResult li {
  padding: 0.8rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.searchResult li:hover,
.searchResult li a:focus {
  background-color: rgba(128, 109, 97, 0.5);
  border-radius: 0.3rem;
  outline: none;
}
.searchResult a {
  text-decoration: none;
  color: #2c2c2c;
}

.inputForm {
  position: relative;
}

.searchBtn {
  width: 1.3rem;
  height: 1.3rem;
}
