.circleImg {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: gray;
}

.drinkItem {
  display: flex;
  align-items: center;
}

.drinkItem svg {
  width: 35px;
  height: 35px;
}
